*{margin: 0;
    padding: 0;}

header{display: flex;
justify-content: center;
align-items: center;
background-color:#ebeef5;}
.option{display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background-color:#ebeef5;
width: 100%;
min-height: 70px;
margin: 0px 20px;}
@media  screen and (max-width:764px) {
    .option{justify-content: center;
    align-items: center;}

}
@media screen and (max-width:518px) {
    .options{margin: 5px;}
    .signup{margin-top: 5px;}
    
}
.options{display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;}
.cursa{display: flex;
    justify-content: flex-start;
    align-items: center;
}
.courses{margin-left: 30px;}
.opt{margin-right: 20px;}
.signup{background-color:#268665;
height: 40px;
border-radius: 7px;
color: aliceblue;
display: flex;
align-items: center;
}
.container{height: 170px;
    width: 100%;
    background-color:#ebeef5;
}
.body{display: flex;
width: 90%;
font-family: 'Lato', sans-serif;
margin:auto;
}
@media screen and (max-width:1040px) {
    .body{flex-wrap: wrap;}

    
}

.information{background-color:#fff;
box-shadow: 0 2px 6px #00000029;
color: #80838b;
padding: 20px;
margin: 50px 0px;
width: 60%;
display: inline-block;
border-radius: 15px;}
@media screen and (max-width:1040px) {
    .information{width: 100%;}
    
}
.heading{color: rgb(57, 53, 53);
margin: 20px 0;}
.language{background-color: #92959d;
display: inline;
color: #fff;
padding: 7px;
border-radius: 10px;}
.goody{margin: 30px 0;
color: rgb(52, 50, 50);}
.go{display: flex;
align-items: center;
margin: 20px 0;}
.no{background-color: #268665;
height: 20px;
width: 20px;
color: #fff;
text-align: center;
border-radius: 50px;
margin: 0 15px;}
.python_info{color:rgb(57, 54, 54);
margin: 15px 0;}
.teacher{display: flex;
margin: 50px 0;
background-color: #ebeef5;
padding: 10px;}
.photo img{background-color: #268665;
height: 100px;
width: 50;
border-radius: 50%;
box-shadow: 0 2px 6px #00000029;
margin: 0 10px;}
.course_content{color: rgb(53, 46, 46);}
.course_info{margin: 15px 0;
border: 1px solid rgb(66, 63, 63);
background-color: #ebeef5;
box-shadow: 0 2px 6px #00000029 ;}
.in{
border-bottom: 1px solid rgb(133, 120, 120);
padding: 15px 8px;}
.videos{display: flex;
    background-color: #fff;
    box-shadow: 0 2px 6px #00000029 ;
    padding: 20px;
    max-height: 80vh;
    border-radius: 15px;
    margin: 50px 20px;
    justify-content: flex-start;
    align-items: center;
flex-direction: column;
width: calc(33%);}

.video{width: 20vw;
    color: #fff;
    text-align: center;
height: 30vh;
border-radius: 10px;
background-color: #268665;}
.Enroll{background-color: #268665;
margin: 20px;
color: #fff;
width: 20vw;
text-align: center;
border-radius: 10px;
padding: 7px 15px;}
.img{width:2.5vw;
height: 4vh;}
.shares{display: flex;
margin: 10px 0;
border-bottom: 1px solid rgb(62, 58, 58);
width:20vw ;
justify-content: space-between;
align-items: center;}
.share{display: flex;}
.evaluate{display: flex;
    margin: 10px 0;
    border-bottom: 1px solid rgb(62, 58, 58);
    width:20vw ;
    justify-content:flex-start;
    align-items: center;}

@media screen and (max-width:1040px) {
    .video{height: 20vh;}
    .videos{width: 100%;}
    .media{width: 50vw;}
    
}
